sphinx
sphinx_rtd_theme
sphinx_mdinclude
sphinx_autodoc_typehints
sphinx_rtd_size
nbsphinx
sphinx_gallery
furo
myst-parser
myst-nb
matplotlib==3.8.4
numpy==1.23.1
pandas==1.5.0
scikit_learn==1.4.2
scipy==1.10.0
seaborn==0.13.2
